.c-list-card {
    width : 18rem ;
    max-width: 241px;
}
.c-list-card-img {
    max-width: 241px;
    max-height: 312px;
}
.c-list-card-title {
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
}
.c-list-card-desc {
    font-size: 14px;
    line-height: 19px;
    color : #974A4A;
}