.c-product-detail-container {
  margin-top: 92px;
  margin-bottom: 80px;
}
.c-product-detail-img {
  height: 555px;
  width: auto;
}
.c-product-detail-title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 66px;
  color: #613d2b;
}
.c-product-detail-stock {
  font-size: 18px;
  line-height: 25px;
  color: #974a4a;
}
.c-product-detail-desc {
  font-size: 18px;
  line-height: 25px;
  text-align: justify;
  color: black;
}
.c-product-detail-price {
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #974a4a;
}
