.custom-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 180%;
  max-width: 100vw;
  height: 120%;
  background: #dbb699;
  z-index: -2;
  border-radius: 5px;
}
.custom-container {
  padding-left: 60px;
}

@media screen and (max-width: 575px) {
  .custom-container::before {
    left: 0;
    width: 100vw;
  }
  .custom-container {
    padding-left: 5vw;
  }
}
@media screen and (min-width: 992px) {
  .custom-wave::before {
    content: url(../Images/Jumbotronwaves.png) ;
    position: absolute;
    bottom: -80px;
    right: 200px;
    max-width: 100vw;
    z-index: -2;
    border-radius: 5px;
  }
}
